body{
  background-color: #000;
  color: #bdc3c7;

}
.head{
  color: #ecf0f1;
  background-color: #3498db;
  box-shadow: 0px 6px 0px #2980b9;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}
.content{
  margin: 5% 3%;
  padding-bottom: 2em;
}
.content.paragraph{
  margin: 1% 5%;
  font-size: 1.75em;
}
.fecha{
  padding-top: 1.5em
}
