body{
  background-color: #27ae60;
  color: #bdc3c7;

}
.head{
  color: #ecf0f1;
  background-color: #3498db;
  box-shadow: 0px 6px 0px #2980b9;
  padding-top: 1%;
  padding-bottom: 1%;
}
.content{
  margin: 5% 3%;

}
.content.paragraph{
  margin: 1% 5%;
  font-size: 1.75em;
}
/*FOOTER*/
footer{
	background-color: #2c3e50;
	color: #ecf0f1;

}
footer p{
	text-align: center;
}
footer h4{
	text-align: center;
	font-size: 2em;
}
footer ul li a{
	color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	font-size: 1.5em;

}
footer ul li a span.icon-twitter{color: #3498db;}
footer ul li a span.icon-mail{color: #e74c3c;}
footer ul li{
	text-align: center;
	list-style: none;
	display: inline;
}
footer ul li a:hover{
  text-decoration: underline;
}
