

.nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 6px 0px #2980b9;
}
.menu {
  float: left; /* Desplazamos el nav hacia la izquierda */
}

.menu ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

.menu ul li {
  float: left;
  font-size: 16px;
}

.menu ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.menu ul li:hover {
  background: #3ead47;
}

.wrapper {
  padding-top: 7%;
  width: 80%;
  margin: auto;
  overflow:hidden;
}
